<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @grade.name %>
</p>

<p>
  <strong>Min gsalary:</strong>
  <%= @grade.min_gsalary %>
</p>

<p>
  <strong>Max gsalary:</strong>
  <%= @grade.max_gsalary %>
</p>

<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
