<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @employee.telephone %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @employee.rut %>
</p>

<p>
  <strong>Hire date:</strong>
  <%= @employee.hire_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @employee.status %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @employee.birth_date %>
</p>

<p>
  <strong>Role:</strong>
  <%= @employee.role_id %>
</p>

<p>
  <strong>Business:</strong>
  <%= @employee.business_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employee.address_id %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
