<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @job_history.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @job_history.end_date %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @job_history.employee_id %>
</p>

<p>
  <strong>Job:</strong>
  <%= @job_history.job_id %>
</p>

<%= link_to 'Edit', edit_job_history_path(@job_history) %> |
<%= link_to 'Back', job_histories_path %>
